/Week2/Error2/Error2/nbproject/private/
/Week2/Error2/Error2/build/
/Week2/DebugTwo/DebugTwo/nbproject/private/
/Week3/Assign_3.1/HelloWorld/nbproject/private/
/Week3/Assign_3.1/HelloWorld/build/
/Week3/Assign_3.1/ReadFile/build/
/Week3/Assign_3.1/ReadFile/dist/
/Week3/Assign_3.1/ReadFile/nbproject/private/
